@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: Fira Sans;
    padding: 0;
    margin: 0;
}

body{
    background-color: #F5F5F5;
    /* width:1536px; */
}


/* Shares Styles */
.secondary-bg{
    background-color: #C6E4D6;
}

.btn-primary{
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}


/* Nav Styles */
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 330px;
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}

.sign-in-btn{
    width: 116px;
    height: 52px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #006A50;
    color: #006A50;
}

/* Header */

.banner{
    max-width: 1280px;
    height: 560px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    margin: 20px auto 80px;
}

.banner-content{
    margin-left: 60px;
}

.banner-title{
    font-size: 24px;
    opacity: 0.5;
    margin-bottom: 16px;
}

.banner-description{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
}

.banner-btn{
    color: white;
    background-color: #006A50;
    font-size: 18px;
    width: 270px;
    height: 56px;
    border: none;
}

.banner-img{
    margin-right: 60px;
}